<form>
	<input id="iBarcode" type="text" placeholder="请在这里输入报关单号">
	<span style='padding-left:10px'></span>
	<input id="btnSearchDocs" type="button" value="查询" />
<!-- 	<input id="btnFilter" type="button" value="过滤设置" /> -->
</form>
<div id="dFilterContainer"></div>
