<div class="well">

    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; 前一页</a>
      </li>
<li id="pageno"></li>

      <li class="next">
        <a href="#">后一页 &rarr;</a>
      </li>
    </ul>
    <div class="document-page">
    </div>
    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; 前一页</a>
      </li>
      <li class="next">
        <a href="#">后一页 &rarr;</a>
      </li>
    </ul>
</div>
