<div class="well">
<div id="comments"></div>
<ul class="unstyled">
<% if (this.searchMode == 'show_doc'){%>
<% }else{ %>
<li class="error-comments"><a class='btn btn-primary btn-large' href="#">反馈意见</a> </li>
<% } %>
<hr />
</ul>
    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; 前一页</a>
      </li>
      <li id="pageno"></li>
      <li class="next">
        <a href="#">后一页 &rarr;</a>
      </li>
    </ul>
    <div class="document-page">
    </div>
    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; 前一页</a>
      </li>
      <li class="next">
        <a href="#">后一页 &rarr;</a>
      </li>
    </ul>
</div>
