
<div class="span4 one-image">
	<div class="thumbnail">
		<div class="pdf-content">

			<img class='one_pdf' src="/docview/ui/formatpdf/jpg/<%= this.data.jpg %>" alt="" data-img="<%= this.data.id%>" />

		</div>
		<div class="check-content">
			第<%= this.page %>页<input type="checkbox" name="image[<%= this.data.id %>]" ></input>
		</div>
	</div>
</div>