<div class="stats_query stats_query_quota"></div>


<div class="well stats_query">
<form class="stats_query form-horizontal">
<h1 class='legend-h1'>查询</h1>
<p class="help-block">请输入条件，相关内容为空则不限该条件。</p>

<div class="row-fluid">
<div class="span6">   
 <fieldset>
	<div class="control-group">
		<label class="control-label">日志类型</label>
		<div class="controls">
			<select name="log_type">
				<option value="query">查询日志</option>	
				<option value="document">操作日志</option>	
				<option value="system">系统日志</option>	
			</select>
		</div>
	</div>

       <div class="single_sou_holder"></div>

<% this.orgsDic = orgArrayDictionary;%>
 <%== $.View('//docview/ui/views/org.ejs', { label: '理单关区', name : 'org', orgsDic : this.orgsDic} ) %>
</fieldset>

    <button type="submit" class="btn btn-large btn-primary"><i class="icon-search icon-white"></i>查看</button>

</div>

<div class="span6">
<fieldset>
    <div class="control-group">
       <label class="control-label">角色</label>
        <div class="controls">
              <input name="rolename" type="text"/>
        </div>
   </div>

   <div class="control-group">
        <label class="control-label">用户名</label>
        <div class="controls">
              <input name="username" id="frm_total" type="text"/>
        </div>
   </div>

   <div class="control-group daterange-holder">
   </div>
    </fieldset>
</div>


</div>
</form>
</div>
<div id="log_show_tables"></div>
