<tr class="edit-group" style="border: 2px solid #cccc00">
<td colspan="3">
<div class="well">
    <form>
<% var pos = dg.name.indexOf('/');
   var d_name = dg.name;
   if (pos != -1) {
      d_name = d_name.substring(0, pos);
   }%>

    <legend> 编辑<%=  d_name %></legend>

<div class="ed_dg_multi_holder"> </div>
        <button type="submit" class="btn btn-primary">保存</button>
        <button type="button" class="btn cancel-edit" data-loading-text="Cancel" autocomplete="off"><%= $.i18n._('btn.cancel') %></button>
    </form>
</div>
</td>
</tr>