
<form class="well">
	<input id="iBarcode" type="text" class="span3" placeholder="请输入报关单号">
	<!--
	<p/>
	<div class="controls" style='padding-left:20px'>
		<label class="radio" style='padding-left: 0px; display: inline'>
			<input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
			出证 </label>
		<label class="radio" style='position: absolute; padding-left: 50px; display: inline'>
			<input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">
			取消出证 </label>
	</div>
	-->
</form>
<p style='padding-left:15px'>
	<a id="btnSave" class="btn btn-danger">出证</a><span style='padding-left:12px'></span>
	<a id="btnCancel" class="btn btn-primary">出证取消 </a>
</p>