.img-search {background-image: url(../../../img/search.png);height: 110px;width: 110px;background-repeat: no-repeat;}
.img-system {background-image: url(../../../img/system.png);height: 110px;width: 110px;background-repeat: no-repeat;}
.img-docs {background-image: url(../../../img/docs.png);height: 110px;width: 110px;background-repeat: no-repeat;}
.img-history {background-image: url(../../../img/operate.png);height: 110px;width: 110px;background-repeat: no-repeat;}
.img-title {float: left;padding-left: 40px;}
.img-text {text-align: center;}
.img-welcome {padding: 5% 10%;}
.img-table {width: 100%;}
