<div class='alert-success alert-index'><%= this.message%></div>
<div class="img-welcome">
<table class='img-table'>
<tr>
  <% if (this.search) { %>
<td>
    <div class="img-title" >
        <a href="#search">
	<div class="img-search"></div>
	<div class="img-text">单证查询</div>
        </a>
    </div>
</td>
  <% } %>
  <% if (this.manage_docs) { %>
<td>
    <div class="img-title" >
        <a href="#manage_docs">
            <div class="img-docs"></div>
            <div class="img-text">单证操作</div>
        </a>
    </div>
</td>
  <% } %>
  <% if (this.stats) { %>
<td>
    <div class="img-title" >
        <a href="#stats">
            <div class="img-history"></div>
            <div class="img-text">查阅管理</div>
        </a>
    </div>
</td>
  <% } %>
  <% if (this.manage_accounts) { %>
<td>
    <div class="img-title" >
        <a href="#manage_accounts">
            <div class="img-system"></div>
            <div class="img-text">系统管理</div>
        </a>
    </div>
</td>
  <% } %>
</div>
