<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>报关单号</th>
            <th>报关单类别</th>
            <th>理单号</th>
            <th>总页数</th>
        </tr>
    </thead>
    <tbody>
    
    <% for(var i = 0; i < this.length; i++) { %>
        <%== $.View('//docview/search/results/views/result.ejs', new Docview.Models.File(this[i])) %>
    <% } %>
        
        
    </tbody>
</table>
