 <button class="btn btn-mini edit-user"><i class="icon-edit icon-blue"></i> 编辑</button>
        <button class="btn btn-mini btn-danger delete-user" data-loading-text="Deleting..." autocomplete="off">
            <i class="icon-trash icon-white"></i> 删除
        </button>
