<div>
<button type="button" id="new-user-btn" class="btn btn-primary" data-toggle="collapse" data-target="#new-user">
    <i class="icon-plus icon-white"></i>
    <i class="icon-user icon-white"></i>
    <%= $.i18n._('btn.new_user') %>
</button>
<b></b>
<button type="button" id='export_data'  class="btn btn-primary"><i class="icon-print icon-white"></i>Excel导出</button>
</div>
<br />
<div id="new-user" class="collapse"></div>

<div class="user-list"></div>
