<button type="button" id="new-user-btn" class="btn btn-primary" data-toggle="collapse" data-target="#new-user">
    <i class="icon-plus icon-white"></i>
    <i class="icon-user icon-white"></i>
    <%= $.i18n._('btn.new_user') %>
</button>
<div id="new-user" class="collapse"></div>

<div class="user-list"></div>