<div class="stat_export">

<div class="well">

<form class="form-horizontal stats_export">
<h1 class="legend-h1">出口删改单借出清单</h1>
<div class="control-group">
	<label class="control-label">关区</label>
	<div class="controls org_applied"></div>
</div>
<div class="controls">
	<button type="submit" class="btn btn-primary">
	<i class="icon-search icon-white"></i> 查看</button>
</div>
</form>
</div>
<div class="export_results"></div>
</div>
