<table id="tbPerformanceStatis" style="width: 100%">
	<thead>
		<tr>
			<th>序号</th>
			<th>关区</th>
			<th>文档总数</th>
		</tr>
	</thead>
	<tbody>
		<% 	
			var i = 1;
			$.each(data, function(key, value) { 
				var org = key;
				if (key == 'total') {
					org = '全部关区';
				} %>
				<tr>
					<td><%== (i++) %></td>
					<td><%== org %></td>
					<td><%== value.docs %></td>
				</tr> 
		<% }); %>
	</tbody>
</table>