body {
    padding-top: 100px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 100px;
}

/* Overwrite Bootstrap's navigation bar colors. Ideally we'd just recompile bootstrap.css */


/*    background-image: -moz-linear-gradient(center top , #4589a0, #00435d) !important;*/

    /*//mozilla*/
/*    background: -moz-linear-gradient(top, #4589a0, #00435d);
    /* Chrome/Safari     /
    background: -webkit-gradient(linear, left top, left bottom, from(#4589a0), to(#00435d));
    /*IE 6/7 / filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4589a0',EndColorStr='#00435d');
    /*IE 8 /
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4589a0, endColorstr=#00435d)";
    background-repeat: repeat-x;
    zoom:1;
}
*/
.navbar .nav .active > a:hover,
.navbar .nav > .active > a:focus {
    background-color: #0088cc;
}


.navbar-inner .brand {
    padding: 0 !important;
}

.navbar .nav > li > a {
    color: #e0e0e0 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/*.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #002e42 !important;
}*/

/* Footer */
.footer-fixed {
    position: fixed;
    bottom: 0;
    z-index: 1020;
}

.footer {
    background-color: #014663;
    background-image: -moz-linear-gradient(center top , #2b6e88, #033d55);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    width: 100%;
}

/*
.navbar-inner .main-nav .active a, .docview_nav .navbar .nav .active  a, .docview_nav .navbar .nav .active a:hover {
    background-color: #00FF00!important;
    color: #FFFFFF;
    text-decoration: none;
    z-order: 100;
}*/



/*
.navbar .nav  li  a {
    color: #e0e0e0 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
*/
.dropdown-menu {
  *width: 190px;
}
/*
.navbar .nav .active  a, .navbar .nav .active  a:hover {
    background-color: #002e42 !important;
}*/

.image-viewer {
    width: 100%;
    height: 1300px;
    /*border: 1px solid black;*/
    position: relative;
    overflow: hidden;
}

.prev-page  {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 10;
}

.next-page {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    z-index: 10;
}

.glass-viewer {
    margin:
  overflow: hidden;
  position: relative;
  height: 600px;
}

.glass-inner-viewer {
    opacity: 0;filter:alpha(opacity=0);
    background: #cccccc;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 0 0 -20px;
    right:20px;
    top:0;
z-index:100;
}



.main-nav li  a:hover {
  color: #ccccff;
  background-color: #0088cc;
}

.main-nav li.active a, .navbar .nav > li.active > a, .nav-collapse .nav > li.active > a {
  color: #ccccff;
  background-color: #0088cc;
}

.navbar .nav > li > a:hover, .nav > li > a:hover {
  text-decoration: none;
  color: #0000ff;
  background-color: #00bbbb;
}

.nav-list {
    padding-left: 0px;
}

ul.image-tree-nav, ul.image-tree-nav li {
    margin-left: 0px;
    padding-left: 0px;
	font-size: 13px;
	cursor: pointer;
}

td.nolinebreak {
    white-space:nowrap;
}
ul.nav li.high-risk-declarations-query a:link {
    color: red;
}
.stats_query .form-horizontal .controls:first-child {
  *padding-left: 21px;
}
h1.legend-h1 {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  *font-size: 19.5px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.footer-banner {
    color : #ffffff;
    font-size: 11px;
}

form[name="upload_user_form"] > button.submit-button {float: left;font-size: 18px;margin-top: 20px;}
form[name="upload_user_form"] {margin-bottom: 50px;}
div.doc-group-list {
padding-top: 20px;
}
.alert-index {border-radius: 4px 4px 4px 4px;padding: 8px 35px 8px 14px;}
.thumbnail > img.error {
//	background-image: url("./img/nav-logo.png");
	margin-top:-14px;
	margin-left:120px;
	padding-top:5px;
	height:12px;
	background-repeat : no-repeat;
	background-color : red;
	position: relative;
    	overflow: hidden;
}
.docview_ui_dmstable table [class*=span],
.row-fluid .docview_ui_dmstable table [class*=span] {
  display: table-cell;
  float: left;
  margin-left: 0;
}


/*link, */
form[name=upload_user_form] a{
	margin:25px;
	float:left;
	text-decoration:underline;
}
ul.unstyled li.error-comments {width: 105px;}
input.where_page {width: 40px;}
.popover-ext{
    margin: 10px;
}
.popover-ext a{
    margin: 3px;
}
.inner_form_border_td {
	border:2px solid #cccc00;
}
#new-requisition div.well {width: 50%;margin-left: 20%;}
input.small-num {width: 15px;}
.navbar .nav > li.nav > a {padding: 0px 5px;}
