<form class="comments form-horizontal">
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#page-type"> 选择单证类型 &gt;&gt; </button>
<div class="collapse" id="page-type">
<table>
<tr>
<td colspan="5" align="center"> 
<button type="submit" class="btn btn-primary confirm-type">确认选择</button>
</td>
</tr>
<% console.log('=======init in comments =====');%>
<% console.log(commentsArrayDictionary);%>
<tr>
<%
 var count = 0;
 for(var i=0;i<commentsArrayDictionary.length;i++){
    var comments = commentsArrayDictionary[i];
    if (comments.dic_num != 0){
        count = count + 1;
%>
	<td> <label class="radio"> <input type='radio' name='filter'  value='<%= comments.dic_num%>'><%= comments.dic_name%></label> </td>
<% if (count%5 == 0) { %>
        </tr>
        <tr>
<% }}} %>
</tr>
</table>
</div>
</form>
