<form class="comments form-horizontal">

<div class="control-group">
  <label class="control-label">问题反馈：</label>
  <div class="controls">
    <input type="radio" name="error_type" value="0" />此页单证类型标识有误<br>
  </div>
</div>
</form>
