<div class="container well">
<a href="/admin/download_log" class='btn btn-primary' >download log</a>
<a href="/admin/clear_log" class='btn btn-primary'>clear log</a>
<a href="/admin/download_error_docs" class='btn btn-primary'>下载——存在疑问的单证清单</a>
<a href="/admin/download_storge_rate" class='btn btn-primary'>下载——存储使用情况清单</a>
</div>
