<div id="update_docs_tag-test"></div>
 <script type='text/javascript'>
steal('jquery/dom/route', 'docview/ui/update_docs_tag').then(function($) {

   $('#update_docs_tag-test').docview_ui_update_docs_tag();
   $('#update_docs_tag-test').docview_ui_update_docs_tag("show");

 });
 </script>
