<table class="table table-condensed">
    <thead>
        <tr>
            <th width=320>报关单号</th>
            <th>时间</th>
            <% if (th_options.include_user) { %>
	    <th>用户</th>
             <% } %>
            <th>客户端IP地址</th>
        </tr>
    </thead>
    <tbody>
    
    <% for(var i = 0; i < data.length; i++) { %>
        <%== $.View('//docview/ui/history/views/history_row.ejs', { data : data[i], th_options : th_options } ) %>
    <% } %>
    </tbody>
</table>
