<div class="row-fluid">
<div class="span6" id="org-selected"></div>
<div class="span6">&nbsp;&nbsp;<button type="button" class="btn btn-info btn-small" data-toggle="collapse" data-target="#org-selection">更改关区 &gt;&gt;</button></div>
</div>

<div id="org-selection" class="collapse">
<form>
<label class="checkbox">
  <input type='checkbox' name='org'  class="org-check" value='2200'>所有关区
</label>

<table class="table table-condense">
<tr>
<td>
<label class="checkbox">
  <input type='checkbox' name='org'  class="org-check" value='2233'>浦东机场海关
</label>
</td>
<td>
<label class="checkbox">
  <input type='checkbox' name='org'  class="org-check" value='2201'>浦江海关
</label>
</td>
</tr>
<tr>
<td>
<label class="checkbox">
  <input type='checkbox' name='org'  class="org-check" value='2225'>外港海关
</label>
</td>
<td>
<label class="checkbox">
  <input type='checkbox' name='org'  class="org-check" value='2202'>吴淞海关
</label>
</td>
</tr>
<tr>
<td>

<label class="checkbox">
  <input type='checkbox' name='org'  class="org-check" value='2248'>洋山海关
</label>
</td>
</tr>

</form>
</div>