
     <div class="control-group">
      <label  class="control-label" for="frm_types_goods">商品种类</label>
      <div class="controls">
         <select id="frm_types_goods"  name="types_goods" style="width: 80px;">
          <option value="">不限</option>
            <%for(i=0;i<this.length;i++){%>
              <option value="<%= this[i].code %>"><%= this[i].types_goods %></option>
              <%}%>
      </select>
      </div>
    </div>
