<form class="all_print">
<div class="print_holder"></div>
<div class="row-fluid">
<button type="submit" class="btn btn-large btn-primary" name="submit" value="search"><i class="icon-search icon-white"></i><%= $.i18n._('btn.search')  %></button>
<button type="submit" class="btn btn-large btn-primary" name="submit" value="print"><i class="icon-search icon-white"></i><%= $.i18n._('btn.print')  %></button>
</div>
</form>

<div class='all-print-action'></div>
