<div id="tabs">
	<ul>
		<li>
			<a href="#usersViewHistory">用户查阅历史</a>
		</li>
		<li>
			<a href="#docsViewHistory">文档查阅历史</a>
		</li>
	</ul>
	<div id="usersViewHistory"  style='min-height:300px'>
		<form>
			<input id="iUser" type="text" placeholder="请输入要查询的用户名">
			<span style='padding-left:10px'></span>
			<div style="display: inline">
				<button id="btnSearchUserViewHistory">
					查询
				</button>
			</div>
		</form>
		<div id="userViewHistoryResult"></div>
	</div>
	<div id="docsViewHistory"  style='min-height:300px'>
		<form>
			<input id="iBarcode" type="text" placeholder="请输入要查询的报关单号">
			<span style='padding-left:10px'></span>
			<div style="display: inline">
				<button id="btnSearchDocViewHistory">
					查询
				</button>
			</div>
		</form>
		<div id="docViewHistoryResult"></div>
	</div>
</div>