<div class="business-process-form">
	<div class="create_interchange_receipt"></div>
	<div class="search_interchange_receipt"></div>
	<div class="create_dishonored_bill"></div>
	<div class="search_dishonored_bill"></div>
	<div class="statistical_inquiry"></div>
</div>
