<div class="dishonored" > 
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#new-dishonored" data-toggle="tab">创建退单</a></li>
    <li><a href="#search-dishonored" data-toggle="tab">查看退单</a></li>
  </ul>
  <div class="tab-content">
  <div id="new-dishonored" class="tab-pane active well"  >
	<form>
	<div class="row-fluid" >
		<div class="span6" >
			<fieldset class="control-group" >
				<% var orgs  = [];
					for(var i=0;i<orgArrayDictionary.length;i++){
						if(orgArrayDictionary[i].dic_num != '2200'){
							orgs.push(orgArrayDictionary[i]);
						}
					}
				 %>
				<%== $.View('//docview/ui/views/org.ejs', { label: '关区', name : 'org' , orgsDic: orgs } )	%>
			</fieldset>
			<fieldset class="control-group" >
				<label>备注</label>
				<input name="explain" type="text" required placeholder="请填写备注信息" />
			</fieldset>
		<div class="pull-left">
			<button type="submit" class="btn btn-primary" data-loading-text="Creating .." >创建</button>
		</div> 
		</div>
		<div class="span6" >
			<fieldset class="control-group" >
				<label>原因</label>
				<select name="reason" >
					<option value="1">少票，退一册</option>
					<option value="2">多票，退一票</option>
					<option value="3">无清单，补清单</option>
					<option value="4">其它</option>
				</select>
			</fieldset>
			<fieldset class="control-group" >
			</fieldset>
		</div>
	</div>
	</form>
	</div>
    <div class="tab-pane active" id="tab1">
      
    </div>
    <div class="tab-pane search-dishonored well" id="search-dishonored">
	<form>
	<div class="row-fluid" >
		<div class="span6" >
		<%== $.View('//docview/ui/views/org.ejs', { label: '关区', name : 'org' , orgsDic: orgArrayDictionary } )	%>
		</div>
<!--		<div class="span6" >
			<label>日期</label>
			<input name="date" type="text" />	
		</div>
-->
	</div>
	<button type="submit" class="btn btn-primary"><i class="icon-search icon-white" ></i> 搜索</button>	
	</form>
    </div>
  </div>
</div>

<div class="create-dishonored-bill-list"></div>
</div>
