<div class="search-dishonored-bill" >
	<div class="well">
	<form>
	<div class="row-fluid" >
        <div class="span6" >
            <label>隶属关区</label>
            <input name="org" type="text" readonly title="您当前无法修改此选项,如需改变所在的隶属关区请联系管理员修改您的用户资料" />
        </div>
        <div class="span6" >
            <label>日期</label>
            <input name="date" type="text" />
        </div>
    </div>
    <button class="btn btn-primary"><i class="icon-search icon-white" ></i> 搜索</button>
	</form>
	</div>
	<div class="search-dishonored-bill-list"></div>
</div>
