<div class="well">
    <div class="search-form">
        <%== $.View('//docview/stats/search/views/query_form.ejs') %>
        <%== $.View('//docview/stats/search/views/stats.ejs') %>
        <%== $.View('//docview/stats/search/views/usage.ejs') %>
    </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
     <div id="qh_history"></div>
  </div>
</div>
<div class='stats_stats'>
</div>