<button type="button" id="new-doc-group-btn" class="btn btn-primary" data-toggle="collapse" data-target="#new-doc-group">
    <i class="icon-plus icon-white"></i>
    <i class="icon-star icon-white"></i>
   <%= $.i18n._('btn.new_doc_group') %>
</button>
<div id="new-doc-group" class="collapse"></div>

<div class="doc-group-list"></div>