#wrap
{
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    margin-top: 50px;
}
h1
{
    font-family: 华文细黑;
}
hr
{
    border: 1px solid #CCCCCC;
}
#menu
{
    width: 400px;
    padding: 10px;
    border: 1px solid #DEDFE1;
}
.part ul
{
    list-style-type: none;
}
.pic
{
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #DEDFE1;
    text-align: center;
    width: 100%;
}
#backTop
{
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 20px;
    margin-bottom: 20px;
    right: 20px;
    float: right;
    background-image: url('../Image/backTop_0.gif');
    cursor: pointer;
}
ul > li {margin-bottom: 7px;}
#navigation-header .navbar .nav > li > a {
    color: #E0E0E0 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#wrap > h1.title {font-size: 37px;margin-bottom: 15px;}
.footer {
    background-color: #014663;
    background-image: -moz-linear-gradient(center top , #2B6E88, #033D55);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.footer-fixed {
    bottom: 0;
    position: fixed;
    z-index: 1020;
}
