<div id="new-application" class="collapse"> </div>
<div id="new-requisition" class="">
<%console.log("new_application.ejs",this)%>
<%== $.View("//docview/ui/requisition/views/application/new_application.ejs",this) %>
</div>
<div class="application-list"></div>
