<button type="button" id="new-application-btn" class="btn btn-primary" data-toggle="collapse" data-target="#new-application">
    <i class="icon-plus icon-white"></i>
    <i class="icon-application icon-white"></i>
    <%= $.i18n._('btn.new_application') %>
</button>
<div id="new-application" class="collapse"></div>
<div class="application-list"></div>
