<button id="approval" class="btn btn-mini detial-row"><i class="icon-search icon-blue"></i>

<%
	var action = $.route.attr('subcategory');
	switch(action){
		case 'approval':
			%>科长审批<%
			break;
		case 'approval-guan':
			%>关长审批<%
			break;
		default:
			%>详细信息<%
			break;
	}
%>


</button>
