
<form class="well form-horizontal lending_statistics">
<h1 class="legend-h1">数据统计</h1>
<div class="row-fluid">

<div class="span6">
    <fieldset>
		<div class="control-group" >
			<label class="control-label" >业务点</label>
			<div class="controls org"></div>
		</div>
		<div class="lending-date" ></div>
    </fieldset>  
  <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>查询 </button>
</div>
</div>
</form>
<div class='lending-list'></div>
