
<form class="well form-horizontal lending_statistics">
<h1 class="legend-h1">数据统计</h1>
<div class="row-fluid">

<div class="span6">
    <fieldset>
		<%== $.View('//docview/ui/views/org.ejs', { label: '业务点', name : 'org', orgsDic : orgArrayDictionary } ) %>
		<div class="lending-date" ></div>
    </fieldset>  
  <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>查询 </button>
</div>
</div>
</form>
<div class='lending-list'></div>
