<div class="requisition-form">
	<div class="application"></div>
	<div class="approval"></div>
	<div class="register"></div>
	<div class="write_off"></div>
	<div class="lending_statistics"></div>
	<div class="requisition_history"></div>
</div>
