<select name='<%= this.name %>' class='' style="margin-bottom:0px;" >
<% for(var i=0;i<this.users.length;i++){%>
	<option value="<%= this.users[i].username%>"><%= this.users[i].fullname%></option>
<%}%>
</select>
