<div id="dDocFilter" class="dialog" title="设置文档过滤条件">
	<form id='fDocFilter'>
		<table>
			<tr>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb1' value='1' type='checkbox' />
					</div>
					<label class='filter-label' for='cb1' >合同</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb2' value='2' type='checkbox' />
					</div>
					<label class='filter-label' for='cb2' >发票</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb3' value='3' type='checkbox' />
					</div>
					<label class='filter-label' for='cb3' >装箱清单</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb4' value='4' type='checkbox' />
					</div>
					<label class='filter-label' for='cb4' >提（运）单</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb5' value='5' type='checkbox' />
					</div>
					<label class='filter-label' for='cb5' >代理报关授权委托协议书</label></br/>
				</div></td>
			</tr>
			<tr>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb6' value='6' type='checkbox' />
					</div>
					<label class='filter-label' for='cb6' >进出口打印报关单</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb7' value='7' type='checkbox' />
					</div>
					<label class='filter-label' for='cb7' >进出口手填报关单</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb8' value='8' type='checkbox' />
					</div>
					<label class='filter-label' for='cb8' >原进出口货物报关单复印件（索赔时提供）</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb9' value='9' type='checkbox' />
					</div>
					<label class='filter-label' for='cb9' >原产地证明</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb10' value='10' type='checkbox' />
					</div>
					<label class='filter-label' for='cb10' >进出口货物征免税证明</label></br/>
				</div></td>
			</tr>
			<tr>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb11' value='11' type='checkbox' />
					</div>
					<label class='filter-label' for='cb11' >各种税费的海关专用缴纳书</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb12' value='12' type='checkbox' />
					</div>
					<label class='filter-label' for='cb12' >海关查验通知书</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb13' value='13' type='checkbox' />
					</div>
					<label class='filter-label' for='cb13' >海关货物查验记录单</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb14' value='14' type='checkbox' />
					</div>
					<label class='filter-label' for='cb14' >货物暂时进出境相关单证</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb15' value='15' type='checkbox' />
					</div>
					<label class='filter-label' for='cb15' >进出口货物报关单修改撤销相关单证</label></br/>
				</div></td>
			</tr>
			<tr>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb16' value='16' type='checkbox' />
					</div>
					<label class='filter-label' for='cb16' >海关价格审核相关单证</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb17' value='17' type='checkbox' />
					</div>
					<label class='filter-label' for='cb17' >进出口税款保证金相关单证</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb18' value='18' type='checkbox' />
					</div>
					<label class='filter-label' for='cb18' >海关交（付）款通知书</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb19' value='19' type='checkbox' />
					</div>
					<label class='filter-label' for='cb19' >海关提货单</label></br/>
				</div></td>
				<td>
				<div class='filter-item'>
					<div class='filter-input-cb'>
						<input id='cb20' value='20' type='checkbox' />
					</div>
					<label class='filter-label' for='cb20' >委托代理合同</label></br/>
				</div></td>
			</tr>
		</table>
	</form>
</div>