 <% var orgs = this.orgs.split(","); %>
        <% for(var j = 0; j < orgs.length; j++) { %>
            <% if (orgs[j] !== "") { %>
                <span class="label label-info"><%= orgs[j] %></span>
            <% } %>
	    <% } %>
