<% console.log(this.file_name)%>
<% if(this.file_name != ""){%>
<div class=""><input type="button" id="export_data" value="Excel导出" ></input> </div>
<% }%>
<div class="span13"> </div>

<table class="table table-condensed">
<thead>
<tr>
</tr>
</thread>
<tbody>
</tbody>
</table>
