<% if(this.file_name != ""){%>
<div class="" style='margin-top: 25px;'>
    <button type="button" id='export_data'  class="btn btn-large btn-primary"><i class="icon-white"></i>Excel导出</button>
</div>
<% }%>
<div class="span13"> </div>

<table class="table table-condensed table-striped">
<thead>
<tr>
</tr>
</thread>
<tbody>
</tbody>
</table>
