        <button class="btn btn-mini edit-role"><i class="icon-edit icon-blue"></i><%= $.i18n._('btn.edit') %></button>
        <button class="btn btn-mini btn-danger delete-role" data-loading-text="Deleting..." autocomplete="off">
            <i class="icon-trash icon-white"></i><%= $.i18n._('btn.delete') %>
        </button>