<button type="button" id="new-role-btn" class="btn btn-primary" data-toggle="collapse" data-target="#new-role">
    <i class="icon-plus icon-white"></i>
    <i class="icon-role icon-white"></i>
   <%= $.i18n._('btn.new_role') %>
</button>
<div id="new-role" class="collapse"></div>

<div class="role-list"></div>
