<div class="well">

<form class="form" id="new-role-form">
<div class="row-fluid">
  <div class="span6"> <label>角色名</label> <input name="name" type="text" value=""/>
  </div>
  <div class="span6">  
   <label>角色备注</label>
    <input name="description" type="text" size="40" value=""/>
</div>
</div>
    <div class="row-fluid">
        <%== $.View("//docview/manage/accounts/roles/views/role_form.ejs")%>
    </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary" data-loading-text="Creating..." autocomplete="off"><%= $.i18n._('btn.create') %></button>
            <button type="button" class="btn cancel-create" data-loading-text="Cancel" autocomplete="off"><%= $.i18n._('btn.cancel') %></button>
        </div>
    </div>
</form>
</div>
