<div class="span3">
    <h4>单证查阅权限</h4>
    <ul style="list-style-type:none;">
    <li><input name="aQueryDocByBarcode" type="checkbox"/>单票查阅</li>
    <li><input name="aQueryDocsByBarcodes" type="checkbox"/>批量查阅</li>
    <li><input name="aQueryDocsByConditions" type="checkbox"/>随机抽样查阅 </li>
    <li><input name="aQueryBySource" type="checkbox"/>单证暂存</li>
    <li><input name="aUploadFile" type="checkbox"/>上传文件</li>
    <li><input name="aSearchCondition" type="checkbox"/>高风险报关单查询</li>

    </ul>
</div>

<div class="span2">
    <h4>单证操作权限</h4>
    <ul style="list-style-type:none;">
    <li><input name='aOperateInvolved' type='checkbox' />添加/撤销涉案标志</li>
    <li><input name='aOperateLended' type='checkbox' />电子档案借出/归还</li>
    <li><input name='aOperatePrint' type='checkbox' />打印</li>
    <li><input name='aOperateTestified' type='checkbox' />出证</li>
<% if (false) { %>
    <li><input name="aQueryDocsPrint" type="checkbox"/>批量打印</li>
<% } %>
    <li><input name='aOperateHistory' type='checkbox' />个人操作历史</li>
    </ul>
</div>


<div class="span2">
    <h4>单证借阅</h4>
    <ul style="list-style-type:none;">
    <li><input name='aRequisitionApplication' type='checkbox' />申请</li>
    <li><input name='aRequisitionApproval'' type='checkbox' />审批</li>
    <li><input name='aRequisitionRegister'' type='checkbox' />登记</li>
    <li><input name='aRequisitionWriteOff'' type='checkbox' />核销</li>
    <li><input name='aRequisitionLendingStatistics'' type='checkbox' />统计</li>
    </ul>
</div>

<div class="span2">
    <h4>查阅管理权限</h4>
    <ul style="list-style-type:none;">
    <li><input name="aManageQueries" type="checkbox" />查阅历史</li>
    <li><input name="aCreateGroup" type="checkbox" />单证组管理</li>
    <li><input name="aPerformanceStatis" type="checkbox"/>绩效统计</li>
    <li><input name="aUsabilityStatis" type="checkbox" />涉案/借出单证清单</li>
    <li><input name="aStatsExport" type="checkbox"/>出口删改单</li>
    </ul>
</div>

<div class="span3">
<h4>系统管理权限</h4>
<ul style="list-style-type:none;">
  <li><input name='aManageUsers' type='checkbox' />用户管理</li>
  <li><input name='aManageRoles' type='checkbox' />权限管理</li>
  <li><input name='aSystemUpload' type='checkbox' />用户信息及权限上传</li>
  <li><input name='aSysSetting' type='checkbox' />系统参数设置</li>
</ul>

</div>

