<form id='fAdvancedQuery'>
	<ul>
		<li>
			<span class="form-label">申报关区</span>
			<div class="form-item">
				<input id="org" name="org" type="text" />
			</div>
		</li>
		<li>
			<span class="form-label">理单关区</span>
			<div class="form-item">
				<input id="org_applied" name="org_applied" type="text" />
			</div>
		</li>
		<li>
			<span class="form-label">查阅份数</span>
			<div class="form-item">
				<input id="total" name="total" type="text" style="width: 50px;" />
			</div>
		</li>
		<li>
			<span class="form-label">申报日期</span>
			<div class="form-item">
				<input id="edcStartDate" name="edcStartDate" class="input-date" type="text" style="width: 120px;" />
			</div>
			<span class="form-label" style="width: 15px"> 到 </span>
			<div class="form-item">
				<input id="edcEndDate" name="edcEndDate" class="input-date" type="text" style="width: 120px;" />
			</div>
		</li>
		<li>
			<span class="form-label">单证种类</span>
			<div class="form-item">
				<select id="docType" name="docType" style="width: 80px;">
					<option value="0">不限</option>
					<option value="1">进口</option>
					<option value="2">出口</option>
				</select>
			</div>
			<span class="form-label">是否涉案</span>
			<div class="form-item">
				<select id="docInquired" name="docInquired"  style="width: 80px;">
					<option value="0">不限</option>
					<option value="1">是</option>
					<option value="2">否</option>
				</select>
			</div>
			<span class="form-label">是否增改单</span>
			<div class="form-item">
				<select id="docModified" name="docModified" style="width: 80px;">
					<option value="0">不限</option>
					<option value="1">是</option>
					<option value="2">否</option>
				</select>
			</div>
		</li>
	</ul>
</form>
<br />
<input id="btnSearchDocs" type="button" value="查询" />
<input id="btnFilter" type="button" value="过滤设置" />
<div id="dFilterContainer"></div>
