<div class="header">
	<div class="headerLayer1">
		<h1></h1>
		<div id="t_yhxx">
			欢迎， <span><b><%= sessionStorage.getItem('userDisplay') %></b></span>
		</div>
		<div id="t_exit">
			<a id='aLogout' class="t_btn">退出</a>
		</div>
	</div>
	<div class="menu main-menu">
		<ul id="css3menu">
			<li class="topfirst">
				<a id="aMenuQueryDoc" class="nav-lv1" href="#queryDocs" title="单证查询">单证查询</a>
				<ul>
					<li>
						<a id="aQueryDocByBarcode" class="nav-lv2" href="#bySingleBarcode">按报关单号单票查阅</a>
					</li>
					<li>
						<a id="aQueryDocsByBarcodes" class="nav-lv2" href="#byMultiBarcodes">按报关单号批量查阅</a>
					</li>
					<li>
						<a id="aQueryDocsByConditions" class="nav-lv2" href="#byAdvancedConditions">特定条件组合查阅</a>
					</li>
				</ul>
			</li>
			<li>
				<a id="aMenuManageQuery" class="nav-lv1" href="#manageQueries" title="查阅管理">查阅管理</a>
				<ul>
					<li>
						<a id="aManageQueries" class="nav-lv2" href="#queriesHistory">查看单证浏览历史</a>
					</li>
					<li>
						<a id="aPerformanceStatis" class="nav-lv2" href="#performanceStatis">绩效统计</a>
					</li>
					<li>
						<a id="aUsabilityStatis" class="nav-lv2" href="#usabilityStatis">使用统计</a>
					</li>
				</ul>
			</li>
			<li>
				<a id="aMenuOperateDoc" class="nav-lv1" href="#operateDocs" title="单证操作">单证操作</a>
				<ul>
					<li>
						<a id="aOperateInvolved" class="nav-lv2" href="#docInvolved">添加/撤销涉案标志</a>
					</li>
					<li>
						<a id="aOperateLended" class="nav-lv2" href="#docLended">电子档案借阅/归还</a>
					</li>
<!-- 					<li>
						<a id="aOperateTestified" class="nav-lv2" href="#docTestified">出证处理</a>
					</li> -->
					<li>
						<a id="aOperateHistory" class="nav-lv2" href="#docOperateHistory">单证操作历史查询</a>
					</li>
				</ul>
			</li>
			<li>
				<a id="aMenuManageAccounts" class="nav-lv1" href="#manageAccounts" title="账户管理">账户管理</a>
				<ul>
					<li>
						<a id="aManageUsers" class="nav-lv2" href="#manageUsers">用户管理</a>
					</li>
					<li>
						<a id="aManageRoles" class="nav-lv2" href="#manageRoles">角色权限管理</a>
					</li>
				</ul>
			</li>
			<li class="toplast">
				<a id="aMenuSetProfile" class="nav-lv1" href="#mainteProfile" title="个人设置">个人设置</a>
				<ul>
<!-- 					<li>
						<a id="aUpdateProfile" class="nav-lv2" href="#updateProfile"><span style='color:red'>修改个人信息</span></a>
					</li> -->
					<li>
						<a id="aUpdatePassword" class="nav-lv2" href="#updatePassword">修改密码</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="dMsgBox" style='padding-left:10px; position: relative; top: 2px; z-index: -1'></div>
</div>
<div id="dNavTitle" style=" left: 15px;position: relative; top: 125px; width: 50%">
</div>
<div id="dMainContainer" class="container-fluid" style="padding-left: 5px">
	<div class="row-fluid" >
		<div class="span12">
			<div id="dMainSpace" class="hero-unit" style="padding:15px;"></div>
		</div><!--/span-->
	</div><!--/row-->
</div>
<div class="footer">
	<div id="copyright">
		上海海关总署版权所有 &copy;2012~2015 &nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</div>
