<div class="alert alert-block alert-<%= this.type %>">
<a class="close" data-dismiss="alert">x</a>
<p><strong><%== this.title %></strong></p> <%= this.p %>
<ul>
<% for (var i=0; i < messages.length; i++) {%>
<li><%= messages[i] %></li>
<%
}
%>
</ul>
</div>