
<form>
	<h4>请在下面输入多个（1~12个）报关单号进行批量查询</h4>
	<div style='padding:10px'>
		<input class="iBarcode" type="text" placeholder="报关单号1">
		<input class="iBarcode" type="text" placeholder="报关单号2">
		<input class="iBarcode" type="text" placeholder="报关单号3">
		<input class="iBarcode" type="text" placeholder="报关单号4">
		<br/>
		<input class="iBarcode" type="text" placeholder="报关单号5">
		<input class="iBarcode" type="text" placeholder="报关单号6">
		<input class="iBarcode" type="text" placeholder="报关单号7">
		<input class="iBarcode" type="text" placeholder="报关单号8">
		<br/>
		<input class="iBarcode" type="text" placeholder="报关单号9">
		<input class="iBarcode" type="text" placeholder="报关单号10">
		<input class="iBarcode" type="text" placeholder="报关单号11">
		<input class="iBarcode" type="text" placeholder="报关单号12">
	</div>
	<input id="btnSearchDocs" type="button" value="查询" />
	<input id="btnFilter" type="button" value="过滤设置" />
</form>
<div id="dFilterContainer"></div>