    <div class="control-group">
      <label  class="control-label" for="frm_org">理单关区</label>
     <div class="controls">
      <select id="frm_org" name="org" style="width: 120px;">
          <option value="">不限</option>
          <option value="2225">外港</option>
          <option value="2218">保税区</option>
          <option value="2210">浦东</option>
          <option value="2201">浦江</option>
          <option value="2202">吴淞</option>
          <option value="2203">虹桥机场</option>
          <option value="2204">闵开发区</option>
          <option value="2208">吴淞(宝山)</option>
          <option value="2233">浦东机场</option>
       </select>
     </div>
    </div>