    <div class="control-group">
      <label  class="control-label" for="frm_doctype">进出口种类</label>
      <div class="controls">
      <select id="frm_docType"  name="doc_type" style="width: 80px;">
          <option value="">不限</option>
          <option value="JK">进口</option>
          <option value="CK">出口</option>
      </select> 年限
        <select id="frm_years" name="years" style="width: 80px;">
           <option value="">不限</option>
           <option value="3">3年</option>
           <option value="5">5年</option>
           <option value="11">11年</option>
       </select>
      </div>

   </div>