
<form class="well stats_stats form-horizontal">
<h1 class="legend-h1">绩效统计
<div style="display:inline;font-size:16px;font-weight:400;margin-left:20px; "></div>
</h1>
<div class="row-fluid">


<div class="span6">
    <fieldset>
         <div>
	 <div class="control-group">
          <label class="control-label">请选择分类方式 </label>
	  <div class="controls control-group">
          <select name="groupby" >
             <option value="0">不分类</option>
             <option value="5">关区</option>
             <option value="1">业务点</option>
             <option value="2">用户</option>
			 <% if (false){ %>
             <option value="3">用户角色</option>
			 <% } %>
             <option value="4">近6个月内按月份统计</option>
          </select>
	  </div>
	  <div class="control-group">
          <label class="control-label" for="frm_edcStartDate">日期</label>
          <div class="controls">
             <input type="radio" name="timerange" class="daterange" value="0" checked/>不限时间<br>
             <input type="radio" name="timerange" class="daterange" value="1"/>以下时间段<br>
                    
          </div>
	  </div>
    <div class="daterange-holder-2"> </div>
     <%== $.View('//docview/ui/views/org.ejs', { label: '业务点', name : 'org', orgsDic : this.orgsDic} ) %>
        <div id="frm_docType_years_select"></div>
    </fieldset>  
  <button type="submit" class="btn btn-large btn-primary"><i class="icon-search icon-white"></i>查看统计结果</button>
</div>
</div>
</form>

