<div class="control-group">
    <label class="control-label">申报关区</label>
    <select name="org">
        <% for(i   = 0;i<this.length;i++){ %>
            <option value="<%= this[i].value%>"><%= this[i].name%></option>
        <% } %>
    </select>
</div>