<div class="control-group">
    <label class="control-label">用户</label>
    <select name="user">
    <% for(i   = 0;i<this.length;i++){ %>
        <option value="<%= this[i].value%>"><%= this[i].name%></option>
    <% } %>
    </select>
</div>