<button type="button" id="new-web-link-btn" class="btn btn-primary" data-toggle="collapse" data-target="#new-web-link">
    <i class="icon-plus icon-white"></i>
    <i class="icon-web-link icon-white"></i>
    创建新链接
</button>
<div id="new-web-link" class="collapse"></div>

<div class="web-link-list"></div>

