<div class="well">
<form name="upload_user_form"  method="POST" enctype="multipart/form-data">
	<table class="upload-table table-size">
     	  <tr>
	    <td>
		请上传用户级权限信息表：
	    </td>
	    <td><input class='upload_file' type="file" name="upload_user"  /></td>
	  </tr>
	</table>
        <button type="submit" class="btn btn-primary submit-button"><i class="icon-upload icon-white"></i><%= $.i18n._('btn.upload_file')  %></button>
	<a href='#'  >模板下载</a>
  <iframe name="check_file_frame" style="display:none;"></iframe>
</form>
</div>
