<form class="by_doc">
    <fieldset class="control-group">
        <div class="row-fluid">
            <input type="text" placeholder="Example: 103948572725123482" name="query">
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Search</button>
</form>