
    <div class="search-form">
        <div id="div_query_form"></div>
        <div id="div_stats"></div>
        <div id="div_usage"></div>

    </div>

<div class="container-fluid">
  <div class="row-fluid">
     <div id="qh_history"></div>
  </div>
</div>
<div class='stats_stats'>
</div>