<form class="checkout">
<div class="multi_holder"> </div>

        <button type="submit" class="btn btn-primary" data-loading-text="Saving..." autocomplete="off">借出</button>
        <button type="button" id="removeCheckout" class="btn" data-loading-text="Cancel" autocomplete="off">归还</button>

</form>
