<div class="well">
  <div class="login-splash"></div>
  <form id="login-form" class="form-horizontal">
    <div class="control-group">
      <label class="control-label">用户名</label>
      <div class="controls">
        <input type="text" name="username" value="" class="input-large" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">密码</label>
      <div class="controls">
        <input type="password" name="password" value=""/>
      </div>
    </div>
    <div class="control-group">
      <button type="submit" class="btn btn-primary btn-large pull-right" data-loading-text="正在登录..." autocomplete="off">登录</button>
    </div>
  </form>
</div>
