div.span4 {width:150px;height:240px;}
.thumbnails {margin-left:20px;}
.thumbnail {height:220px;}
img.one_pdf {height:200px;}
.row-fluid .span4 {width: 150px;}
.row-fluid .thumbnails {margin-left: 20px;}