<form id='fEditUser'>
	<input type="hidden" name="id" id="iId" />
	<div style="padding-top: 10px">
		<label>用户权限</label>
		<select id="sRoleSelector" name='role'>
			<% for (var i = 0; i < roles.length; i++) { %>
				<option value=<%== roles[i].id %>><%== roles[i].display_name %></option>
			<% } %>
		</select>
	</div>
	<div style="padding-top: 20px">
		<label>用户名</label>
		<input id="user" name='email' type="text" />
	</div>
	<div style="padding-top: 10px">
		<label>密码</label>
		<input id="password" name='password' type="password" />
	</div>
</form>