
<input id="printPage" type="button" name="submit" value="打印"></input>
<input id="setHide" type="button" value="隐藏" ></input>
<input id="setShow" type="button" value="显示" ></input>
<input id="returnMain" type="button" value="返回" ></input>
<div id="printResult"></div>

