<tr>
<td colspan=3 >
<form name="edit-agency">
<div class="well">
	<legend>修改机构</legend>
	<label>业务点</label>
	<input name="org_name" type="text" value="<%= orgJsonDictionary[this.org] + '('+this.org+')' %>" readonly />
	<label>机构名称</label>
	<input name="agency-name" type="text" value="<%= this.name %>" />
	<input name="agency-id" type="hidden" value="<%= this.id %>" />
<h1>
</h1>
<button class="btn btn-primary" type="submit" >保存</button>
<button class="btn btn-cancel" >取消</button>
</div>
</form>
</td>
</tr>
