<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div id="sidebar">
            <div id="document-tree">TREE</div>
          </div>
        </div>
        
        <div class="span9">
          <div id="main-content">
            <div id="document-viewer">VIEWER</div>
          </div>
        </div>
      
      </div> <!-- row-fluid -->
</div>