<form id='fUpdatePassword'>
	<ul>
		<li>
			<span class="form-label">新密码</span>
			<div class="form-item">
				<input id="password" name="password" type="password" />
			</div>
		</li>
		<li>
			<span class="form-label">确认新密码</span>
			<div class="form-item">
				<input id="password_confirm" type="password" />
			</div>
		</li>
	</ul>
</form>
<input id="btnSave" type="button" value="提交" />