<tr>
<td>
<input type="text" class="filter_docs" name="single_card_number" required maxlength='18' pattern="\d{9}25\d{7}" />
</td>
<td>
<input type="text" class="" name="rationale_single_number" required />
</td>
<td>
	<button type="button" title="Trash" class="btn btn-mini btn-danger remove-requisition-details" style="display:none;"><i class="icon-trash icon-white"></i></button>
</td>
<td width='80'>
	<span><label class='label tips' style="display:none;"  ></label></span>
</td>
</tr>

