<div class='requisition_detail_form'>
<table class="table">
<thead>
<th>报关单号</th>
<th>理单号</th>
</thead>
<tbody>
<%== $.View("//docview/ui/requisition/views/application/new_requisition_details_row.ejs")%>
</tbody>
</table>
</div>
