<tr data-index="<%= this.index == undefined ? 1 : this.index%>">
<td>
		<input type="text" class="filter_docs" name="single_card_number">
</td>
<td>
		<input type="text" class="" name="modify_accompanying_documents">
</td>
<td>
		<input type="text" class="where_page" name="where_page">
</td>
<td>
		<input type="text" class="" name="lent_reasons">
</td>
<td>
	<button type="button" class="btn btn-primary remove-requisition-details"><i class="icon-remove icon-white"></i>移除</button>
	<button type="button" class="btn btn-primary new-requisition-details"><i class="icon-plus icon-white"></i>添加</button>
	<button type="button" class="btn btn-primary filter-requisition-details"><i class="icon-qrcode icon-white"></i>验证</button>
</td>
</tr>

