
<div class="info-box">
</div>
<form class="system-setting">
<legend>系统参数</legend>
 <fieldset class="control-group">
    <label>单证查阅最大抽样数目</label>
    <input name="maxn" type="text" class="number" />
 </fieldset> 


 <fieldset class="control-group">
    <label>单证借阅期限</label>
    <input name="checkout_period" type="text"  class="number"/>
 </fieldset> 
<button type="submit" class="btn btn-primary" data-loading-text="Saving..." autocomplete="off">保存</button>
</form>
