<div class="well">
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>警示!</strong> 以下用户在近一个月中查阅数量异常。
</div>
<table class="table query-quota table-condensed">
	<thead>
		<tr>
			<th>用户名</th>
			<th>关区</th>
			<th>近一个月查阅总数</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i = 0; i < this.length; i++) { 
 %>
			<tr>
		
				<td><%== this[i].username %></td>
				<td><%== this[i].orgs %></td>
				<td><%== this[i].queries %></td>
			</tr>
		<% } %>
	</tbody>
</table>
</div>