<select name=<%= (this.name || "doc_type")  %> >
	<option value>不限</option>
	<option value='jk3y' >进口三年</option>
	<option value='jk5y' >进口五年</option>
	<option value='jk11y' >进口十一年</option>
	<option value='ck3y' >出口三年</option>
	<option value='ck5y' >出口五年</option>
	<option value='ck11y' >出口十一年</option>
</select>
