<select name='approving_officer' class='' style="margin-bottom:0px;" >
<option value="">请选择审批人员</option>
<% for(var i=0;i<this.gld_users.length;i++){%>
		<option value="<%= this.gld_users[i].username%>"><%= this.gld_users[i].fullname%></option>
<%}%>
</select>
