<select name='gld_user' class='' style="margin-bottom:0px;" >
<option value=""></option>
<option value="">暂不指定</option>
<% for(var i=0;i<this.gld_users.length;i++){%>
		<option value="<%= this.gld_users[i].username%>"><%= this.gld_users[i].fullname%>(<%= this.gld_users[i].username %>)</option>
<%}%>
</select>
