<div class="control-group">
<label  class="control-label"><%= label %></label>
<div class="controls">
 <select name="<%= name %>" style="width: 120px;">
          <option value="">不限</option>
          <option value="2233">浦东机场(2233)</option>
          <option value="2202">吴淞(2202)</option>
          <option value="2201">浦江(2201)</option>
          <option value="2225">外港(2225)</option>
          <option value="2248">洋山(2248)</option>
	  <option value = '2200'>上海海关</option>     
	  <option value = '2210'>浦东海关</option>     
	  <option value = '2233'>浦东国际机场海关</option>     
	  <option value = '2203'>虹桥机场海关</option>     
	  <option value = '2208'>吴淞海关</option>     
	  <option value = '2201'>浦江海关</option>     
	  <option value = '2209'>浦江海关(龙吴海关)</option>     
	  <option value = '2225'>外高桥港区海关</option>     
	  <option value = '2248'>洋山海关</option>     
	  <option value = '2218'>外高桥保税区海关</option>     
	  <option value = '2204'>经济技术开发区海关</option>     
	  <option value = '2212'>奉贤海关</option>     
	  <option value = '2213'>莘庄海关</option>     
	  <option value = '2217'>嘉定海关</option>     
	  <option value = '2220'>金山海关</option>     
	  <option value = '2222'>青浦海关</option>     
	  <option value = '2221'>松江海关</option>     
	  <option value = '2241'>现场业务一处</option>     
	  <option value = '2242'>现场业务二处</option>     
	  <option value = '2243'>现场业务三处</option>     
	  <option value = '2206'>驻邮局办事处</option>     
	  <option value = '2205'>驻车站办事处</option>     
	  <option value = '2223'>驻南汇办事处</option>     
	  <option value = '2224'>驻崇明办事处</option>  
       </select>
     </div>
    </div>
