<div class="control-group">
<label  class="control-label"><%= label %></label>
<div class="controls">
 <select name="<%= name %>" style="width: 120px;">
          <option value="">不限</option>
          <option value="2233">浦东机场(2233)</option>
          <option value="2202">吴淞(2202)</option>
          <option value="2201">浦江(2201)</option>
          <option value="2225">外港(2225)</option>
          <option value="2248">洋山(2248)</option>
       </select>
     </div>
    </div>
