<div class="control-group" >
<label class="control-label" >业务点</label>
<input name="subjection_org_text" type="text" readonly data-placement="right" 
value='<%= orgJsonDictionary[ this.subjection_org ] + "(" + this.subjection_org + ")" %>'
title="您当前无法修改此选项,如需改变所在的隶属关区请联系管理员修改您的用户资料" />
<input name="subjection_org" type="hidden" value='<%= this.subjection_org %>' />
</div>
