.button-title {margin-top:20px;font-size:18px;
    width: 160px;text-align: center;}
label.radiobox {float:left;margin-right: 8px;padding-right: 8px;background-color: #0EEEE9;}
button.button-option-onblure {background: #0088CC;color: #FFFFFF;}
button.button-option-onblure:hover {background: #0088CC;color: #FFFFFF;}
button.button-option {width: 95px;}
table.search-condition-table tr td {height: 80px;vertical-align: top;}
