<div class="personal_history">
<form>
<h1 class='legend-h1'>请选择以下时间段</h1><br>
<input type="radio" name="timerange" value="1"/>最近 10 次<br>
<input type="radio" name="timerange" value="2"/>一周内<br>
<input type="radio" name="timerange" value="3"/>一月内<br>
<input type="radio" name="timerange" value="4"/>两月内<br>

<div class="control-group">
    <input type=hidden name="error"></input>
</div>
<div class="control-group" style='margin-top: 25px;'>
    <button type="submit" class="btn btn-large btn-primary"><i class="icon-search icon-white"></i>查阅历史</button>
</div>
</form>
</div>
