<div class="personal_history">
<form>
<legend>请选择以下时间段</legend><br>
<input type="radio" name="timerange" value="1"/>最近 10 次<br>
<input type="radio" name="timerange" value="2"/>一周内<br>
<input type="radio" name="timerange" value="3"/>一月内<br>
<input type="radio" name="timerange" value="4"/>两月内<br>

<div class="control-group">
<input type=hidden name="error"></input></div>
<button type="submit" class="btn btn-large btn-primary"><i class="icon-search icon-white"></i>查阅历史</button>

</form>
</div>