
<div id="dQueryDocsConditionsContainer">
    <h3><a href='#'>查阅条件</a></h3>
    <div id='dQueryDocsConditions'>
    </div>
</div>
<div id="dQueryDocsResultContainer" style='padding-top:10px; display:none;'>
    <h3>查阅结果</h3>
    <div id='dQueryDocsResult'>
    </div>
</div>
<div id='dQueryDocsResult2'></div>