<button class="btn btn-mini btn-primary btn-edit" ><i class="icon-edit icon-white"></i> Edit</button>
<button class="btn btn-mini btn-danger btn-delete" ><i class="icon-trash icon-white"></i> Trash</button>
