<form action="/documents/search_docs" method='post'>
<input type='text' name="docType" value="" />
<input type='text' name="edcEndDate" value="2013-02-28" />
<input type='text' name="edcStartDate" value="2012-02-01" />
<input type='text' name="isMod_or_isTax" value="" />
<input type='text' name="org" value="" />
<input type='text' name="total" value="10" />
<input type="submit" name="" />
</form>
