<p class="help-block">请在下面输入多个报关单号, 单号之间用空格或回车键分隔</p>
<fieldset class="control-group">
  <div class="row-fluid">
    <textarea class="query span12" rows="5" name="query"
     placeholder="例如: 103948572725123482 103948572725123415 103948572725098234"></textarea>
  </div>
</fieldset>
