<% if (this.create_interchange_receipt) { %>
    <li><a href="#create_interchange_receipt">交接清单录入</a></li>
<% } %>
<% if (this.search_interchange_receipt) { %>
    <li><a href="#search_interchange_receipt">交接清单接收</a></li>
<% } %>
<% if (this.create_dishonored_bill) { %>
    <li><a href="#create_dishonored_bill">退单录入</a></li>
<% } %>

<% if (this.search_dishonored_bill) { %>
    <li><a href="#search_dishonored_bill">退单查询</a></li>
<% } %>
<% if (this.statistical_inquiry) { %>
    <li><a href="#statistical_inquiry">交接单统计查询</a></li>
<% } %>
