<% if (this.users) { %>
<li><a href="#users"><%= $.i18n._('subnav.manage_users') %></a></li>
<% } %>
<% if (this.roles) { %>
<li><a href="#roles"><%= $.i18n._('subnav.manage_roles') %></a></li>
<% } %>
<% if (this.sys_setting) { %>
<li><a href="#sys-setting">系统参数</a></li>
<% } %>