<% if (this.application) { %>
    <li><a href="#application">申请</a></li>
<% } %>
<% if (this.approval) { %>
    <li><a href="#approval">移出审批</a></li>
<% } %>
<% if (this.register) { %>
    <li><a href="#register">单证流转前登记</a></li>
<% } %>

<% if (this.write_off) { %>
    <li><a href="#write_off">单证签收后核销功能</a></li>
<% } %>
<% if (this.lending_statistics) { %>
    <li><a href="#lending_statistics">借出统计</a></li>
<% } %>
<% if (this.requisition_history) { %>
    <li><a href="#requisition_history">借阅历史</a></li>
<% } %>
