<% if (this.application) { %>
    <li><a href="#application">申请</a></li>
<% } %>
<% if (this.approval) { %>
    <li><a href="#approval">审批</a></li>
<% } %>
<% if (this.register) { %>
    <li><a href="#register">登记</a></li>
<% } %>

<% if (this.write_off) { %>
    <li><a href="#write_off">核销</a></li>
<% } %>
<% if (this.lending_statistics) { %>
    <li><a href="#lending_statistics">借出统计</a></li>
<% } %>
