<% if (this.stats_query) { %>
    <li><a href="#stats_query">查阅历史</a></li>
<% } %>
<% if (this.create_group) { %>
    <li><a href="#create_group">单证组管理</a></li>
<% } %>
<% if (this.stats_stats) { %>
    <li><a href="#stats_stats">绩效统计</a></li>
<% } %>
<% if (this.stats_usage) { %>
    <li><a href="#stats_usage">涉案/借出单证清单</a></li>
<% } %>


