
<form name="upfile_form"  method="POST" enctype="multipart/form-data">
	<table class="upload-table table-size">
     	  <tr>
	    <td>
              <label class="upload-table-label">请上传月查获率为0的重点查验企业</label></td><td><input class='upload_file' type="file" name="upload_file" id="upload_file" />
     	    </td>
	  </tr>
	  <tr>
	    <td>
   	      <label class="upload-table-label">请上传一般贸易进口价格偏低报关单记录文档</label></td><td><input  class='upload_file' type="file" name="upload_file_1" id="upload_file_1" />
     	    </td>
	  </tr>
	  <tr>
	    <td>
   	      <label  class="upload-table-label">请上传进口通关时间超长报关单文档</label></td><td><input  class='upload_file' type="file" name="upload_file_2" id="upload_file_2" />
     	    </td>
	  </tr>
	</table>
        <input type="submit" value="上传文件" class='submit-button' />
  <iframe name="check_file_frame" style="display:none;"></iframe>
</form>
