<div class="well">

<form name="upfile_form" action="/upload_file" method="POST" enctype="multipart/form-data">
<div class="row-fluid">
        <div class="span6">

	<div>
   	  <label>请上传月查获率为0的重点查验企业</label><input type="file" name="upload_file" id="upload_file" />
   	  <label>请上传一般贸易进口价格偏低报关单记录文档</label><input type="file" name="upload_file_1" id="upload_file_1" />
   	  <label>请上传进口通关时间超长报关单文档</label><input type="file" name="upload_file_2" id="upload_file_2" />
	</div>
  </p>
  <p>
   <input type="submit" value="上传文件" />
  </p>
  </div>
</div>
  <iframe name="check_file_frame" style="display:none;"></iframe>
</form>
</div>
