<li class="dropdown bprint" id="hackxxx">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#hackxxx">
      打 印<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
    </ul> 
</li>