<% if current_user%>
<div class="footer-banner" id="user-info-display">当前登录用户 : <%= current_user.fullname%></div> 
<% end%>
<div class="footer-banner" id="footer-banner">存量报关单证电子档案管理系统 版本 V1.10.002 </div> 
